mat-toolbar {
  position: fixed;
  top: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem;
  font-size: 1.6rem;
  .logo img {
    height: 5rem;
  }
  .nav ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    li a {
      text-decoration: none;
      color: #fff;
      padding: 1rem 2rem;
    }
  }
}
