.starship-card {
  max-width: 60rem;
  font-size: 1.6rem;
  .title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .director {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }
  .attrs {
    margin-bottom: 1.2rem;
  }
}
