<section class="people">
  <h2>People</h2>
  <div class="people-search-pagination">
    <mat-form-field>
      <mat-label>Search People</mat-label>

      <input
        [disabled]="!getIsSuccess"
        matInput
        placeholder="Search..."
        [(ngModel)]="searchText"
      />
    </mat-form-field>
    <mat-paginator
      (page)="paginationHandler($event)"
      [length]="count"
      pageSize="10"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>

  <ul *ngIf="getIsSuccess" class="people-list">
    <li *ngFor="let person of getSearchedPeople()">
      <app-person-card [person]="person"></app-person-card>
    </li>
  </ul>

  <div class="loader_error">
    <mat-spinner *ngIf="getIsLoading"></mat-spinner>

    <span *ngIf="getIsFail">{{ error?.message }}</span>
    <button
      *ngIf="getIsFail"
      mat-flat-button
      color="warn"
      (click)="dispatchGetPeople(1)"
    >
      Try Again!
    </button>
  </div>
</section>
