<section class="species">
  <h2>Species</h2>
  <div class="species-search-pagination">
    <mat-form-field class="example-full-width">
      <mat-label>Search Species</mat-label>
      <input
        [disabled]="!getIsSuccess"
        matInput
        placeholder="Search..."
        [(ngModel)]="searchText"
      />
    </mat-form-field>
    <mat-paginator
      (page)="paginationHandler($event)"
      [length]="count"
      pageSize="10"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>

  <ul *ngIf="getIsSuccess" class="species-list">
    <li *ngFor="let species of getSearchedSpecies()">
      <app-species-card [species]="species"></app-species-card>
    </li>
  </ul>

  <div class="loader_error">
    <mat-spinner *ngIf="getIsLoading"></mat-spinner>

    <span *ngIf="getIsFail">{{ error?.message }}</span>
    <button
      *ngIf="getIsFail"
      mat-flat-button
      color="warn"
      (click)="dispatchGetSpecies(1)"
    >
      Try Again!
    </button>
  </div>
</section>
