<section class="hero">
  <h1>Execute Order 66</h1>
</section>

<section class="welcome">
  <h2>Welcome to Star Wars Universe!</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque consectetur
    reprehenderit eligendi enim, fugiat architecto vitae perferendis quos
    nostrum excepturi alias! Ex magnam cumque illo facere sit voluptatibus
    repudiandae unde? Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Delectus earum, eum consequatur vero vitae cumque. Laboriosam iusto est
    doloribus omnis alias sequi at expedita. Ullam sed praesentium tempore
    officiis quibusdam? Lorem, ipsum dolor sit amet consectetur adipisicing
    elit. Eveniet illo, sit provident perspiciatis doloribus minima numquam
    fugiat incidunt? Aut quas aliquam obcaecati magnam voluptate, veritatis et
    illo illum officia reprehenderit!
  </p>
</section>
